.font-three{
   color: white;
   position: relative; 
   text-transform: uppercase;
   display: inline-block;
   }
   
   .font-three::after{
      content: '';
      position: absolute;
      background-color: darkorange;
      width: 80px;
      height: 4px;
      left: 1px;
      bottom: -8px;
   }
.portfolio a{
   text-decoration: none;
   color:darkorange
}

.portfolio .box .card {
   overflow: hidden;
   box-shadow: rgba(212, 222, 10, 0.2) 0px 2px 8px 5px !important;
}
 
.portfolio .box .card:hover .card-img-top { 
   transform: rotate(-1deg) scale(1.1);
}
.portfolio .box .card .card-img-top {
   transition: 1.5s; 
}
@media (max-width:576px) {
   .portfolio{
      margin-top: 35px;
   }
}