.myNav .navbar-brand, .myNav .navbar-brand:hover{
   color:darkorange
}


.myNav-toggler{
   background-color: white !important;
}
@media (max-width:576px) {
   .myNav-toggler{
      display: none !important;
   }
   .collapse:not(.show) {
      display: block !important;
  }
}
.myNav .links a {  
   font-size: 16px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff; 
   font-weight: 600;
   text-shadow: 0 0 15px #8e54e9;
   transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
   padding: 10px 12px; 
   text-decoration: none;
   margin: 15px;
}

.myNav .links a:after,
.myNav .links a:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
}

.myNav .links a:after {
  width: 0%;
  height: 80%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
}

.myNav .links a:before {
  width: 120%;
  height: 0%;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: all 0.5s ease;
}

.myNav .links a:hover::before {
  height: 80%;
}

.myNav .links a:hover::after{
  width: 120%;
}

.myNav .links a.active{
   color: darkorange;
}
.navbar-toggler {
   background-color:white !important
}

@media (max-width:576px) {
   .myNav-toggler{
      display: none !important;
   }
   .collapse:not(.show) {
      display: block !important;
  }
  .myNav-nav { 
    flex-direction: row !important;
  }
  .myNav .links a{
   padding: 0 15px;
  }
  .myNav{
   display: block !important;
   text-align: center;
  }
  .myNav .links a::before{
   top: 94%;
   left: -100%;
   transition: .2s;
}

}